
/* ----- Specification ----- */

body {
	padding: 0;
	margin: 0;
	color: #5f6c84;
	font-family: sans-serif;
	background: #5f5f5f;
	font-size: 15px;
	letter-spacing: 0.02em;
}

div,
p,
a,
span {
	box-sizing: border-box;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	padding: 0;
	margin: 0;

}

h1 {
	font-size: 39px;
}

h2 {
	font-size: 37px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 15px;
}

a,
a:hover,
a:active  {
	text-decoration: none;
}

a {
	color: #fff;
	font-weight: bold;
	transition: all 0.4s ease;
}

.container {
	width: 500px;
	margin: 0 auto;	
}

.d-flex {
	 display: -webkit-flex;
	 display: -moz-flex;
	 display: -ms-flex;
	 display: -o-flex;
	 display: flex;
}

.jcsb {
	justify-content: space-between;
}

.d-flex-center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	flex-direction: column;
}

/* ----- Header ----- */

.header {
	padding: 55px 0 82px;
}

.sites {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 30px 40px 50px;
    background: #d1d1d1;
    -webkit-clip-path: polygon(0px 20%, 100% -85%, 100% 80%, 0 185%);
    clip-path: polygon(0px 20%, 100% -85%, 100% 80%, 0 185%);
}

a {
	font-size: 13px;
	padding: 5px;
	color: #2b3342;
	width: 400px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #2d3034;
}

a:hover {
	color: #556178;
	border: 1px solid #556178;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 20px;
}