/* ----- Fonts ----- */

@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#Natasha') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#Natasha') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 700';
  src: url('../fonts/MuseoSansCyrl-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-700.svg#Natasha') format('svg'); /* Legacy iOS */
}

/* ----- Specification ----- */

body {
	padding: 0;
	margin: 0;
	font-family: 'Museo Sans 300', sans-serif;
	color: #404048;
	font-size: 14px;
	letter-spacing: 0.02em;
}

div,
p,
a,
span {
	box-sizing: border-box;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0;
	font-family: 'Museo Sans 700', sans-serif;
	color: #081d42;
	padding: 0;
	margin: 0;

}

h1 {
	font-size: 58px;
}

h2 {
	font-size: 29px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 23px;
}

h5 {
	font-size: 21px;
}

h6 {
	font-size: 13px;
}

a,
a:hover,
a:active  {
	transition: all 0.4s ease;
	text-decoration: none;
}

input:focus,
input,
input:hover,
input:active,
button:focus,
button,
button:hover,
button:active {
	outline: none;
}

.btn:focus {
	box-shadow: none;
}

.btn {
	font-family: 'Museo Sans 700', sans-serif;
	border-radius: 0;
	background: #1cb883;
	border-bottom: 4px solid #149d6f;
	color: #fff;
	text-align: center;
	width: 156px;
}

.btn:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.btn:active {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
}


.red-color {
	color: #b81c31;
}

.in-link {
	border-bottom: 1px solid rgba(88, 100, 122, 1) !important;
}

/* ----- Сollective Sections ----- */

/* ----- Header ----- */

.header {
	position: relative;
	letter-spacing: 0;
	border-top:5px solid #58647a;
	background: rgba(191, 194, 200, 0.41);
	box-shadow: 0 0 0 4px rgba(88, 100, 122, 0.086);
	padding: 17px 0 7px;
}

.logo {
	display: block;
	width: 291px;
	height: 76px;
	background: url('../img/logo.png') no-repeat center top/cover;
	transition: all 0.5s ease;
}

.logo:hover {
	filter: brightness(1.15) invert(0.05);
}

.menu {
	width: 100%;
	margin: 0 18px 12px 19px;
}

.menu__link {
	font-family: 'Museo Sans 700', sans-serif;
	font-size: 17px;
	color: #3f4b60;
	border-bottom: 1px solid rgba(88, 100, 122, 0);
	padding-bottom: 2px;
}

.menu__link:hover {
	color: #667690;
	border-bottom: 1px solid rgba(88, 100, 122, 1);
}

.menu__link:active {
	border-bottom: 1px solid rgba(88, 100, 122, 0);
		transition: all 0.1s;
}

.header__btn {
	padding: 7px 0 8px;
	margin-bottom: 9px;
	font-size: 13px;
}

.btn__phone {
	color: #46e6b0;
	margin-right: 2px;
}

.btn__phone_mirror {
	margin-right: 6px;
    transform: rotate(90deg);
}

.nav-trigger {
	display: none;
}

#nav-trigger:checked ~ nav {
	display: block !important;
}

.nav__btn {
	display: none;
	position: relative;
	width: 25px;
	height: 25px;
	font-size: 26px;
	color: #3f4b60;
	cursor: pointer;
}

.nav__btn-icon {
	position: absolute;
}
.callback-block {
	display: none;
}

.callback {
	display: none;
	position: absolute;
	max-width: 300px;
	padding: 20px;
	left: 50%;
	background: rgba(255, 255, 255, 0.9);
	transform: translateX(-50%);
	border: 1px solid rgba(88, 95, 107, 0.17);
    border-radius: 5px;
    z-index: 6;
}

.callback__title {
	text-align: center;
	font-size: 26px;
	margin-bottom: 20px;
}

.callback__input {
	display: block;
	margin: 5px auto 15px;
	width: 260px;
	height: 40px;
	font-family: 'Museo Sans 300', sans-serif;
	color: #000;
	padding-left: 10px;
}

.callback__text {
	font-size: 13px;
	text-align: center;
	width: 260px;
	color: #212121;
	display: block;
	margin: 0 auto 15px;
}

.callback__btn {
	display: block;
	padding: 7px 0 8px;
	margin: 0 auto;
	font-size: 13px;
}

.callback-block__bg {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5) url(../img/close.png) no-repeat right 10px top 10px;
	z-index: 5;
	cursor: pointer;
}

.callback-active {
	display: block;
}
/* ----- Pagination ----- */

.pagination {
	border-radius: 0;
	background: #3a4456;
	padding-top: 40px;
	letter-spacing: 0;
}

.pagination__title {
	font-size: 19px;
	color: #fff;
	opacity: 0.66;
}

.pagination__links {
	margin-top: 16px;
	margin-bottom: 42px;
}

.pagination__link {
	display: block;
	font-size: 14px;
	color: #fff;
	opacity: 0.46;
}

.pagination__link:hover {
	color: #fff;
	opacity: 0.75;
}

.pagination__link:active {
	color: #fff;
	opacity: 0.9;
}

/* ----- Footer ----- */

.footer {
	padding-bottom: 44px;
	background: #1f2531;
	font-family: 'Museo Sans 100', sans-serif;
	font-size: 12px;
	color: #fff;
	letter-spacing: 0;
	border-bottom: 18px solid #58647a
}

.logo-footer {
	display: block;
	width: 295px;
	height: 137px;
	background: url('../img/logo-footer.png') no-repeat center top;
}

.footer__texts {
	margin-top: 37px;
}

.footer__text_address {
	margin-top: 15px;
}

.footer__text {
	width: 210px;
	opacity: 0.45;
}


.company {
	padding-top: 4px;
	opacity: 0.63;
}

.company__letter {
	width: 27px;
	height: 25px;
	margin-right: 10px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 25px;
	font-size: 15px;
}

.company__text {
	width: 145px;
	font-size: 11px;
}

.company__text_big {
	text-transform: uppercase;
}

.copy {
	width: 140px;
	margin-top: 25px;
}

.copy__text {
	opacity: 0.45;
}
.copy__link {
	color: #fff;
	opacity: 0.45;
	text-decoration: underline;
}

.copy__link:hover {
	color: #fff;
	opacity: 0.85;
	text-decoration: none;
}

.copy__link:active {
	opacity: 1;
}

.company__text_big {
	font-size: 12px;
	text-transform: uppercase;
}
.copy__text_bold {
	font-family: 'Museo Sans 700', sans-serif;
}

.footer__btn {
	display: block;
    margin-left: auto;
	padding: 7px 0 8px;
    font-size: 13px;
    margin-top: 69px;
}

.footer__btn:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.35) inset;
}

.footer__btn:active {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.45) inset;
}

/* ----- Top Navigation ----- */

.nav-top {
	padding: 67px 0 67px;
	background: #fafafb;
	letter-spacing: 0;
}

.page-info {
	
}

.page-info__title {
	font-size: 38px;
}

.page-info__links {
	margin-top: 10px;
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 16px;
	color: #7e838d;
}

.page-info__link {
	color: #49556b;
	line-height: 0.9em;
	border-bottom: 1px solid;
}

.page-info__link:hover {
	color: #293857;
	border-bottom: none;
}

.page-info__link:active {
	color: #19556b;
}

.page-info__icon {
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0 3px;
}

.page-info__name {
	
}

.page-nav {
	margin-top: 18px;
}

.page-nav_services {
	padding: 0 17px 0 37px;
	margin-top: 10px;
}

.page-nav__item {
	display: block;
}

.page-nav__link {
	display: block;
	padding: 9px 14px;
	border: 2px solid rgba(184, 28, 49, 0);
	border-radius: 5px;
	font-family: 'Museo Sans 700', sans-serif;
	font-size: 16px;
	color: #a1a6af;
}
.page-nav__link_small {
	display: block;
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 13px;
	color: #a1a6af;
	transition: all 0.5s ease;
}

.page-nav__link:hover .page-nav__link_small{
	color: #b81c31;
}

.page-nav__link:active .page-nav__link_small{
	color: #b81c31;
}

.page-nav__link:hover {
	color: #cc5f6d;
	border-color: rgba(184, 28, 49, 1);
}

.page-nav__link:active {
	color: #cc5f6d;
	border-color: rgba(184, 28, 49, 0.7);
}


/* ----- Main Page ----- */
/* ----- Invite ----- */

.invite {
	padding: 201px 0 134px;
	margin-top: -105px;
	background: #d4dee1 url('../img/home/main-bg.jpg') no-repeat center top;
	letter-spacing: 0;
	border-bottom: 16px solid rgba(255, 255, 255, 0.15);
}

.invite__text {
	max-width: 470px;
	margin: 15px 0 30px;
	font-family: 'Museo Sans 100', sans-serif;
	font-size: 29px;

}

.social_invite {
	width: 166px;
	height: 46px;
	margin-left: 5px;
    padding: 0 8px;
	border-radius: 3px;
	opacity: 0.82;
	background: #fff;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.66);
}

.social__link {
	opacity: 1;
	width: 30px;
	height: 30px;
	font-size: 17px;
	text-align: center;
	line-height: 27px;
	border: 2px solid;
}

.social__link_fb {
	color: #3d6ca8;
}

.social__link_tw {
	color: #43c9fd;
}

.social__link_tg {
	color: #25a3d4;
}

.social__link_fb:hover {
	color: #3d6ca8;
	filter: brightness(0.75);
}

.social__link_tw:hover {
	color: #43c9fd;
	filter: brightness(0.75);
}

.social__link_tg:hover {
	color: #25a3d4;
	filter: brightness(0.75);
}

.social__link_fb:active {
	color: #3d6ca8;
	filter: brightness(1.25);
}

.social__link_tw:active {
	color: #43c9fd;
	filter: brightness(1.25);
}

.social__link_tg:active {
	color: #25a3d4;
	filter: brightness(1.25);
}

/* ----- Reasons ----- */

.reasons {
	position: relative;
	padding: 53px 0 101px;
	text-align: center;
	background: #f1f1f3;
}

.reasons__item {
	margin-top: 40px;
}

.reasons__name {
	margin-top: 22px;
	margin-bottom: 14px;
}

.reasons__icon {
	width: 119px;
	height: 119px;
	border-radius: 50%;
	transition: all 0.4s ease;
}

.reasons__item:hover .reasons__icon {
	box-shadow: 0 0 0 4px #e8e8e8;
}

.reasons__icon_lamp {
	background: #c8cbdb url('../img/home/icon-lamp.png') no-repeat center center;
}

.reasons__icon_book {
	background: #c8cbdb url('../img/home/icon-book.png') no-repeat center center;
}

.reasons__icon_star {
	background: #c8cbdb url('../img/home/icon-star.png') no-repeat center center;
}

.reasons__btn {
	position: absolute;
	width: 170px;
	padding: 10px 0 10px;
	margin-left: -85px;
	margin-top: 77px;
	font-size: 16px;
}

/* ----- Topics ----- */

.topics {
	padding: 103px 0 81px;
}

.topic {
	text-align: center;
}

.topic__letter {
	display: block;
	width: 86px;
	height: 86px;
	margin-bottom: 7px;
	background: #102e62;
	border-radius: 50%;
	font-size: 50px;
	color: #fff;
	text-align: center;
	line-height: 82px;
	transition: all 0.4s ease;
}

.topic:hover  .topic__letter {
	box-shadow: 0 0 0 4px #e8e8e8;
}

.topic__title {
	font-family: 'Museo Sans 100', sans-serif;
	margin-bottom: 14px;
}

/* ----- Info ----- */

.info {
	letter-spacing: 0;
	padding: 40px 0 45px;
	background: #58647a url('../img/home/main-texture-bg.png') no-repeat center top/cover;
	color: #fff;
}

.mission__title {
	margin-bottom: 10px;
	opacity: 0.4;
	color: #fff;
}

.mission__block {
	flex-wrap: wrap;

}
.mission__block::before {
	content: '';
	width: 100%;
	height: 3px;
	border-radius: 1px;
	background: #fff;
	opacity: 0.1;
}

.mission__text-b {
	padding-top: 20px;
}

.mission__text-b_long {
	width: 470px;
}

.mission__text-b_short {
	width: 370px;
}

.mission__text {
	font-size: 15px;
	opacity: 0.67;
	margin-bottom: 18px;
	line-height: 1.2em;
}

.mission__btn {
	display: block;
	width: 173px;
	padding: 8px 0 8px;
	margin: 22px 0 0 1px;
	border: 2px solid rgba(255, 255, 255, 0.69);
	color: rgba(255, 255, 255, 0.72);
	font-size: 16px;
	font-family: 'Museo Sans 700', sans-serif;
	text-align: center;
}

.mission__btn:hover {
	border: 2px solid rgba(255, 255, 255, 0.74);
	color: rgba(255, 255, 255, 0.92);
	background: rgba(255, 255, 255, 0.12);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.mission__btn:active {
	border: 2px solid rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
	background: rgba(255, 255, 255, 0.22);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

.news__title {
	margin-bottom: 10px;
	opacity: 0.4;
	color: #fff;
}

.news__block {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.news__block::before {
	content: '';
	width: 100%;
	height: 3px;
	border-radius: 1px;
	background: #fff;
	opacity: 0.1;
	border-radius: 0.5px;
}

.news__item {
	padding-top: 20px;
	background: url('../img/home/truck.png') no-repeat left center;
}

.news__item:after {
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	background: #fff;
	opacity: 0.1;
}

.news__name {
	width: 180px;
	margin-left: 70px;
	opacity: 0.75;
	color: #fff;
}

.news__item:hover .news__name {
	opacity: 1;
}

.news__item:active .news__name {
	opacity: 0.7;
}

.news__date {
	display: block;
	margin: 10px 0 9px 70px;
	font-family: 'Museo Sans 100', sans-serif;
	opacity: 0.43;
	font-size: 10.4px;
}

/* ----- About Page----- */
/* ----- Advantages ----- */

.advantages {
	letter-spacing: 0.02em;
	padding: 53px 0 50px;
}

.advantages__title {
	width: 80%;
	letter-spacing: 0.02em;
}

.advantages__texts {
	margin-top: 30px;
	padding-bottom: 52px;
	font-size: 15px;
	border-bottom: 2px solid #e5e6e8;
}

.advantages__text {
	max-width: 565px;
}

.advantage {
	padding: 35px 0 0;
}

.advantage:after {
	display: block;
	content: '';
	width: 82%;
	height: 2px;
	margin-top: 33px;
	background: #e5e6e8;
}

.advantage__icon {
	width: 60px;
	height: 60px;
	margin: 4px 35px 0 3px;
	border-radius: 50%;
	border: 2px solid #102e62;
	background: url('../img/about/scales-icon.png') no-repeat center center;
}

.advantage__texts {
	max-width: 1070px;
}

.advantage__title {
	font-size: 18.3px;
	letter-spacing: 0.02em;
}

.advantage__text {

margin-top: 17px;
}

/* ----- Gelery ----- */

.galery {
	padding-bottom: 70px;
}

.galery__title {
	letter-spacing: 0.02em;
}

.galery__items {
	margin-top: 40px;
}

.galery__item {
	position: relative;
}

.galery__item:hover .galery__overlay {
	opacity: 1;
}

.galery__overlay {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(58, 68, 86, 0.69);
	border: 7px solid #9a97a7;
	color: #fff;
	font-size: 29px;
	transition: all 0.5s ease;
	cursor: pointer;
}

.arrow-icon {
	transform: rotate(45deg);
}

.expand-icon {
	display: none;
}

/* ----- Loc ----- */

.loc {
	position: relative;
}

#map {
	width: 100%;
	height: 443px;
}

.place {
	position: absolute;
	width: 470px;
	padding: 20px 35px 52px 30px;
    right: 19.25%;
    top: -397px;
	color: #fff;
	background: rgba(88, 100, 122, 0.75);
	border-radius: 5px;

}
.place:before {
	content: '';
	display: block;
	background: url('../img/contacts/triangle.png');
	width: 23px;
	height: 46px;
	position: absolute;
	left: -23px;
    top: 15px;
}
.place__head {
	padding-bottom: 18px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.22);
}

.place__title {
	color: #fff;
	letter-spacing: 0.02em;
	margin-top: 5px;
}

.social_place {
	width: 131px;
}

.social__link_place {
	color: #fff;
}

.social__link_place:hover {
	color: #c1c1c1;
}

.social__link_place:active {
	color: #5a5a5a
}

.place__body {
	margin-top: 45px;
	letter-spacing: 0;
}

.place__contacts {
	width: 200px;
	font-size: 16px;
	margin-left: 6px;
}

.place__link {
	color: #fff;
}

.place__link:hover {
	color: #c1c1c1;
}

.place__link:active {
	color: #5a5a5a;
}

.place__phones {
	margin-bottom: 23px;
}

.place__phone {
	display: block;
	margin-bottom: 3px;
}

.place__address {
	margin-bottom: 20px;
}

.place__address-icon {
	display: block;
	margin-top: 3px;
	margin-right: 8px;
}

.place__mail-icon {
	margin-left: 4px;
	line-height: 26px;
	margin-right: 4px;
}

.place__texts {
	width: 185px;
	font-size: 12px;
	opacity: 0.75;
}

.place__text {
	margin-bottom: 18px;
}

.place__phone-icon_mirror {
	margin-right: 1px;
    transform: rotate(90deg);
}


/* ----- Services ----- */

.interactive {
	padding: 42px 0 39px;
	color: #fff;
	background: #808798 url('../img/services/services-bg.jpg') no-repeat center top/cover;
}

.interactive__icon {
	display: block;
	margin: 0 auto;
	width: 206px;
	height: 206px;
	border-radius: 50%;
	border: 7px solid rgba(255, 255, 255, 0.39);
}

.interactive__title {
	color: #fff;
	font-size: 25px;
	letter-spacing: 0.02em;
    line-height: 1em;
    margin-bottom: 19px;
}

.interactive__text {
	margin-bottom: 17px;
    max-width: 335px;
    font-size: 15px;
}

.interactive__nav {
	border: 2px solid rgba(255, 255, 255, 0.48);
	padding: 16px 45px 11px 25px;
	border-radius: 5px;
}

.interactive__nav-item {
	margin-bottom: 11px;
}

.interactive__arrow {
	font-family: Arial, sans-serif;
	font-size: 13px;
	margin: 0 3px;
}

.interactive__link {
	color: #fff;
	font-size: 15px;
}

.interactive__link:hover {
	color: #fff;
	text-decoration: underline;
}

.interactive__link:active {
	color: #5a5a5a;
}

/* ----- Services (Service block) ----- */

.service__catecory {
	margin-top: 55px;
	letter-spacing: 0.02em;
}

.service__title {
	margin-bottom: 25px;
	letter-spacing: 0.02em;
}

.service__texts {
	font-size: 15px;
}

.service__text {
	margin-bottom: 18px;
}

.offer {
	max-width: 470px;
	margin-top: 37px;
	padding: 23px 14px 28px 30px;
	border: 2px solid rgba(88, 95, 107, 0.17);
	border-radius: 5px;
	background: url('../img/services/Conference-Call.png') no-repeat right 14px bottom 17px;
}

.offer__title {
	font-size: 16px;
	letter-spacing: 0.02em;
	color: #414449;
}

.offer__btn {
	width: 157px;
	margin: 18px 15px 15px 0;
	font-size: 14px;
	padding: 8px 0 9px;
	color: #b81c31;
	border: 2px solid;
	background: transparent;
	border-radius: 2px;
}

.offer__link {
	font-size: 14px;
	color: #585f6b;
	font-family: 'Museo Sans 700', sans-serif;
}

.offer__link:hover {
	color: #5d5d5d;
}

.offer__link:active {
	color: #b7b7b7;
}

.offer__text {
	width: 230px;
	font-size: 12px;
	color: #888d95;
}

/* ----- Services (Service block) ----- */

.sidebar {
	padding-top: 50px;
	padding-bottom: 101px;
	background: #fafafb;
}

.sidebar__title {
	color: #58647a;
	opacity: 0.68;
	font-size: 18px;
	margin-left: 26px;
}

.sidebar__menu {
	margin-top: 41px;
	border-top: 1px solid rgba(212, 212, 225, 0.72);
}

.sidebar__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 14px 0 9px;
	border-bottom: 1px solid rgba(212, 212, 225, 0.72);
}

.sidebar__link {
	width: 200px;
	color: #747487;
	font-size: 15px;
	font-family: 'Museo Sans 700', sans-serif;
	line-height: 1.25em;
}

.sidebar__link:hover {
	color: #5d5d5d;
}

.sidebar__link:active {
	color: #b7b7b7;
}


.sidebar__box {
	display: block;
	width: 11px;
	height: 11px;
	border-radius: 2px;
	background: #757487;
	opacity: 0.57;
	margin: 4px 17px 0 26px;
}

/* ----- Services (rew) ----- */

.reviews {
	margin-top: 58px;
	position: relative;
	letter-spacing: 0;
}

.reviews__slides {
	width: 290px;
	text-align: center;
	margin: 0 auto;
}

.reviews__slide:focus {
	outline: none;
}

.reviews__slide {
	margin-top: 37px;
}

.reviews__photo {
	width: 140px;
	height: 140px;
	margin-bottom: 18px;
	margin-right: 6px;
	border-radius: 50%;
	border: 5px solid #656e8d;
}

.reviews__name {
	font-size: 15px;
	color: #747487;
	margin-right: 8px;
}

.reviews__comment {
	width: 285px;
	letter-spacing: 0.02em;
	font-size: 13px;
	margin: 15px 0 12px;
}

.reviews__link:focus {
	outline: none;
}

.reviews__link {
	color: #2c60a0;
	display: block;
	margin-bottom: 13px;
}

.reviews__link:hover {
	color: #5e80a8;
}

.slider-arrow-style {
	position: absolute;
	background: transparent;
	color: #404048;
	font-size: 17px;
	cursor: pointer;
	border: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	transition: all 0.2s ease;
}

.slider-arrow-style:hover {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 50%;
}
.slider-arrow-style:active {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
}

.prev {
	top: 116px;
	padding-left: 3px;
	left: 25px;
}

.next {
	top: 116px;
	padding-right: 3px;
	right: 21px;
}